worker_processes 4;
error_log  /dev/stderr warn;
pid        /var/run/nginx.pid;

events { 
    worker_connections 1024;
}

http {        
    log_format main     '$remote_addr - $remote_user [$time_local] '
                        '"$request" $status $body_bytes_sent '
                        '"$http_referer" "$http_user_agent"'
                        ' rt=$request_time uct="$upstream_connect_time" uht="$upstream_header_time" urt="$upstream_response_time"';

    access_log  /dev/stdout  main;

    sendfile                on;
    client_max_body_size    100M;

    server_tokens           off;

    server {
        listen 80;           
        client_max_body_size 100M;
	    underscores_in_headers on;   

        location /api_URL
        {               
           proxy_http_version 1.1;
           proxy_set_header "Host servicename.resourcegroup.appserviceenvironment.net";
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;                   
            proxy_pass "https://servicename.resourcegroup.appserviceenvironment.net/action1/";
            access_log /etc/nginx/nginx-access.log;
        }
        location /ui_URL {
            proxy_http_version 1.1; 
            #add blob storage url here
            proxy_set_header Host "cdnURL-domain-name";
			add_header Access-Control-Allow-Origin *;
            #add Blob url below
            proxy_pass "https://cdnURL/ui-resourcePath";
            access_log /etc/nginx/nginx-access.log;
        }

        location /health {
            return 200 "I am Healthy - dev\n";
        }
           }    
}
